@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Item";
}

@model CadastrarItemViewModel


<form class="card border-success-subtle shadow-sm mx-auto p-4" style="max-width: 620px;" asp-action="Cadastrar"
      method="post">


    <h4 class="text-success mb-4">
        Cadastrar Item
    </h4>


    <input asp-for="TarefaId" type="hidden" />


    <div class="mb-3">

        <label asp-for="Titulo" class="form-label fw-semibold text-success text-uppercase small">
            Título
        </label>


        <input asp-for="Titulo" class="form-control" placeholder="Digite o título do item" />


        <span asp-validation-for="Titulo" class="text-danger small fw-semibold">
        </span>

    </div>



    <div class="d-flex justify-content-end gap-2 mt-4">


        <a class="btn btn-outline-primary rounded-pill px-4" asp-action="Listar" asp-route-tarefaId="@Model.TarefaId">

            Voltar

        </a>


        <button class="btn btn-success rounded-pill px-4" type="submit">

            Confirmar

        </button>


    </div>


</form>